[Unit]
Description=streaming
After=network-online.target
 
[Service]
ExecStart=/bin/bash /home/pi/streamer.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
 
[Install]
WantedBy=multi-user.target
